@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}
.container {
  width: 100%;
}
.container__header {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container__header > * {
  font-weight: 500;
}
.settings {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.settings .icon {
  color: #ff4343;
  font-size: 20px;
  cursor: pointer;
  margin: 0 4px;
}
.blue--border {
  background-color: #4da1ff;
  width: 50%;
  height: 5px;
  border-radius: 15px;
  margin-right: auto;
  margin-top: -20px;
  margin-left: 20px;
}
.createMeetingBtn {
  margin: 15px auto;
  padding: 15px 20px;
  width: 80%;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: #000;
  color: #fff;
}
.createMeetingBtn:hover {
  opacity: 0.7;
}
.meetings__overallContainer {
  width: 100%;
  padding: 20px;
}
.meeting__container {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  padding: 16px;
  border-radius: 10px;
  border: 1px solid #e9eff4;
  width: 80%;
  margin: 5px auto 16px auto;
}

.meeting__schedule {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}
.meeting_schedule_duration {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-weight: 500;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: -0.32px;
  color: #868686;
  mix-blend-mode: normal;
  opacity: 0.7;
}
.meeting_join_link {
  margin: 0;
  color: #868686;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: -0.286842px;
  cursor: pointer;
}
.meeting__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 32px;
  margin-bottom: 0;
}
.meetingIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
  margin-bottom: 0;
}
.meeting__headline {
  margin-bottom: 8px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.286842px;
  color: #323c47;
}
.meetingBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin: 0 4px;
  border-radius: 4px;
  cursor: pointer;
}
.meeting__am {
  background-color: rgba(77, 161, 255, 0.1);
  color: #4da1ff;
}
.meeting__es {
  background-color: rgba(255, 208, 18, 0.1);
  color: #ffd012;
}
.meetingBtn_text {
  margin: 0;
  font-weight: 500;
  font-size: 9px;
  line-height: 11px;
  letter-spacing: -0.234689px;
}
.meeting__send {
  border: 1px solid #4da1ff;
}
.sendBtn,
.attachBtn {
  color: #4da1ff !important;
  font-size: 16px !important;
  margin-bottom: 0;
}
.attachment__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}
.attachment__text {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: -0.286842px;
  color: #868686;
  margin: 0;
}
