@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
* {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 15px;
}
.container {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.container__meeting {
  margin: 24px 0 32px 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 700px;
  font-size: 20px;
  line-height: 32px;
}
.container__title {
  background: linear-gradient(180deg, #ff4343 0%, #fc8019 100%);
  background: -webkit-linear-gradient(180deg, #ff4343 0%, #fc8019 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 0;
}
.container_loader {
  background-image: linear-gradient(red, orange);
  border-radius: 10px;
  width: 204px;
  padding: 8px 32px;
  margin-bottom: 0;
}
.container_loader .loader {
  margin: 0;
  padding: 0;
  height: 20px !important;
  width: 20px !important;
  color: #fff;
}
.container__btn {
  background-image: linear-gradient(red, orange);
  border-radius: 10px;
  padding: 8px 32px;
  margin-bottom: 0;
  border: none;
  outline: none;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
}
.container__btn:hover {
  opacity: 0.6;
}
