* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#content {
  position: absolute;
  top: 0;
  z-index: 10000;
}
.app {
  height: 100vh;
  width: 100%;
  /* background-color: red; */
  background-color: transparent;
  padding-left: 10px;
  padding-top: 20px;
}
.popup--alarm {
  position: relative;
  height: 132px;
  width: 276px;
  border-radius: 12px;
  padding: 8px 16px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.24);
  background-image: linear-gradient(red, orange);
}
.popup,
.agenda {
  position: relative;
  height: 132px;
  width: 276px;
  border-radius: 12px;
  padding: 8px 16px;
  background-color: #fff;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.24);
}

.btnContainer,
.header__container,
.btn {
  display: flex;
}
.popup__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.btnContainer {
  align-items: baseline;
  justify-content: space-between;
}
.header__container {
  margin-bottom: 16px;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.btn {
  flex-direction: column;
  align-items: center;
  margin: 0px 5px;
}
.btn:hover {
  opacity: 0.4;
  cursor: pointer;
}
.btn__text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 8px;
  line-height: 7px;
  margin-top: 8px;
}
.timer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.timer__reading {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  text-align: center;
}
.timer__left {
  font-size: 16px;
  margin-left: 16px;
}
/* .bar {
  width: 100%;
  height: 7px;
  background-color: red;
  margin-bottom: 5px;
} */

.popup_live_timer {
  position: absolute !important;
  height: 24px !important;
  width: 100%;
  left: 0;
  bottom: 0;
  border-radius: 12px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background: transparent !important;
}

.popup_live_timer_bar {
  background: linear-gradient(180deg, #ff4343 0%, #fc8019 100%);
}

.timer__reading,
.timer__left,
.popup__title {
  background: linear-gradient(180deg, #ff4343 0%, #fc8019 100%);
  background: -webkit-linear-gradient(180deg, #ff4343 0%, #fc8019 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.popup__hidden{
  display: none;
}
.popup__shown{
  display: block;
}

.hideButton{
  text-align: center;
  cursor: pointer;
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 16px;
  padding: 8px 10px;
  background-color: #fff;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.24);
}

.hideButton__hidden{
  display: none;
}
.hideButton__shown{
  display: block;
  
}
.hideButton--alarm{
  text-align: center;
  cursor: pointer;
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 12px;
  padding: 8px 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.24);
  background-image: linear-gradient(red, orange);
}

/* -------------------------- ALARM ON ---------------------------- */

.popup__title--alarm {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.timer__reading--alarm {
  font-size: 50px;
  color: #fff;
}
.timer__left--alarm {
  font-size: 16px;
  color: #fff;
  margin-left: 16px;
}
.btn__text--alarm {
  font-size: 8.5px;
  line-height: 7px;
  margin-top: 4px;
  color: #fff;
}

/* ------------------------AGENDA STYLING ----------------------------- */

.agenda {
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 5px;
}
.agenda__header {
  font-weight: 500;
  font-size: 9px;
  margin-bottom: 0px;
}
.agenda__underline {
  height: 1.8px;
  width: 17px;
  background-color: black;
  border-radius: 9px;
  margin-left: 5px;
}
.agenda__details {
  margin-left: 5px;
  margin-top: 10px;
}
.agenda__list {
  margin-top: 0;
  margin-left: 15px;
}
.agenda__todo {
  font-size: 8px;
}
.more__link {
  color: orangered;
  text-decoration: none;
  margin-top: 20px;
}

.agenda_details_empty {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.agenda_details_empty_text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 8.82313px;
  line-height: 14px;
  color: #111129;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.agenda::-webkit-scrollbar {
  width: 4px;
}
.agenda::-webkit-scrollbar-track {
  background: #ededed;
  height: 100px;
  border-radius: 12px;
  margin-block: 10px;
}
.agenda::-webkit-scrollbar-thumb:hover {
  background: #ddd;
  border-radius: 12px;
}
